- if (messages)
  - if (messages.errors)
    div.notification.error(style='position:absolute; top: 65px; right: 300px')
      span
      div.text
        p
          strong 
            | Error: <br/>
          - each message in messages.errors
            li #{message}       
