!!!
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
    block extrahead

  body
    #menu
      -if (user)
        a(href="/logout/") Sair

    #content
      block content