!!! XML
html(xmlns="http://www.w3.org/1999/xhtml")
  head
      meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
      title PopBroker - Gerenciador de Rendimentos

      link(rel="shortcut icon", href="/img/favico.ico", type="image/x-icon")
      
      link(href="/css/style.notification.css", rel="stylesheet", type="text/css")
      link(href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css", rel="stylesheet", type="text/css")
      link(href="/css/tooltip.css", rel="stylesheet", type="text/css")
      link(href="/css/private.style.css", rel="stylesheet", type="text/css")
      
      
      script(src="http://code.jquery.com/jquery-1.6.4.min.js")
      script(src="http://www.google.com/jsapi")
      script(src="/js/jquery.price_format.min.js")
      script(type="text/javascript", src="/js/tooltip.js")
      script(type="text/javascript", src="/js/notification.js")
      script(type="text/javascript", src="/js/custom.mobile.js")
      script(src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js")  
      script(type="text/javascript", src="/js/custom.js")
          
      
      block head
      
  body
    #page(data-role="page")
      header.white_head.clearfix
        hgroup.clearfix.wrapper
          h1.logo
            a(href="/home/") PopBroker
          ul.header_nav
            li
              a.home(href='/home/', style="color: #ccc") Home
            li
              a.update(href="#", style="color: #ccc") Atualizar Carteira
            li
              a.user(href="#", style="color: #ccc") Minha Conta
            li
              a.sair(href="#", style="color: #ccc") Sair
      include includes/messages


      block content

      block foot
