/** ============ RESET ============= **/
* {margin: 0; padding: 0; }

html {
  margin: 0px;
  padding: 0px;
  letter-spacing: normal;
  background: #f2f3f3;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica","Arial",sans-serif; }
  
header {display: block; }

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #404040; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #404040; }
  
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

::selection {
  background: #1881f6;
  color: #fff;
  text-shadow: none; }
  
* html .clearfix { height: 1%; }

a {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit; }
  
/** ============== END RESET =============**/
.addWallet {
    width: 230px;
}

.white_head {
  background: #7d7d7d url("../img/private/bg_topnav_dark.jpg") 0px 0px repeat-x;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  min-width: 970px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid #e2e2e2;
  position: fixed;
  z-index: 9995;
  /** BLUE OVERRIDE**/
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  /** shadow OVERRIDE**/
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
  bottom-border: 0px; }

.white_head h1.logo {
  margin-top: 0px;
  padding: 3px 0px;
  margin-left: 14px; }

.white_head h1.logo a {
  height: 42px;
  width: 141px;
  margin-top: 0px;
  /** BLUE OVERRIDE**/
  width: 154px;
  height: 42px;
  background: url("../img/logo_full.png") 0px 0px no-repeat; }

h1 {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px; }
  
h1.logo {
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  float: left;
  display: inline; }

h1.logo a {
  width: 150px;
  height: 42px;
  text-indent: -9999px;
  display: block; }

.wrapper {
  width: 960px;
  margin: auto;
  overflow: hidden; }
  
.header_nav {
  position: relative; 
  float: right;
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 32px; }

.header_nav li {
  padding: 20px 4px 0px;
  float: left;
  font-size: 12px;
  height: 32px; }

.header_nav li a {
    font-size: 12px;
    color: #eee;
    text-shadow: 0px 1px #000;
    padding: 6px 14px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out; }

.header_nav li a:hover,
.header_nav li a.current {
  background: #222222;
  color: #ccc;
  text-shadow: 0px -1px black;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  text-decoration: none; }

.header_nav li a:hover {
  background: #474747; }
  
.header_nav li a.home {
    background: url("../img/icons/home.png") left no-repeat;
    padding-left: 26px;
}
.header_nav li a.user {
    background: url("../img/icons/user.png") left no-repeat;
    padding-left: 26px;
}
.header_nav li a.sair {
    background: url("../img/icons/running_man.png") left no-repeat;
    padding-left: 26px;
}
.header_nav li a.refresh {
    background: url("../img/icons/refresh.png") left no-repeat;
    padding-left: 26px;
}
