extends ../public-main-layout

block content
  .container(style='height: 400px;')
    h1.page-header Recuperar Senha
    .grid.onehalf
      p Digite seu endereço de e-mail, nós vamos enviar as instruções de como definir uma nova senha para o seu e-mail.
    form#public-form(method="POST")
      p
        input#email.input-text(name="email", type="text", placeholder="Digite o seu e-mail (obrigatório)")
      input#submit(type="submit", value="Resetar Senha")
