extends ../public-main-layout

block content
  .container(style='height: 400px;')
    h1.page-header Resetar Senha
    .grid.onehalf
      - if (password) 
        p Sua senha foi resetada para: '#{password}'
        p Agora você pode fazer o log-in e alterar a senha para uma de sua preferencia.
